<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="main-layout :: main-fragment(~{::title}, ~{::#home-css}, ~{::#home-content}, null)">
<head>
	<title th:text="#{home.pageLabel}"></title>
	<meta charset="UTF-8">
	<th:block id="home-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/home.css" th:href="@{/css/home.css}"/>
	</th:block>
</head>
<body>
	<section id="home-content" class="hero d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center">
					<h1 th:text="#{home.hero.title}"></h1>
					<h2 th:text="#{home.hero.subtitle}"></h2>
					<div>
						<div class="text-center text-lg-start">
							<a th:href="@{/quiz}" href="/quiz"
							   class="btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
								<span th:text="#{home.hero.button.quizzes}"></span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 hero-img">
					<img th:src="@{/img/hero-img.png}" src="../../static/img/hero-img.png" class="img-fluid" alt="">
				</div>
			</div>
		</div>
	</section>
</body>
</html>