@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Inter:wght@400;500;600&family=Montserrat:wght@400;500&family=Noto+Sans&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --primary-main: #0d47a1;
    --primary-light: #5472d3;
    --primary-extralight: #d3d9ef;
    --primary-dark: #002171;
    --secondary-dark: #0139bb;
    --txt-light: #fff;
    --txt-dark: #000;
    --grey-extralight: #f3f3f3;
    --grey-light: #d1d1d1;
    --grey-main: #9c9c9c;
    --grey-dark: #696969;
}

/* RESET */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body {
    color: #000;
    font-family: 'Open Sans', 'sans serif';
    background-color: rgb(244 245 250);
}

/* LAYOUT */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}
/* COMMON */
.btn-primary {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--primary-dark);
    color: var(--txt-light);
    fill: var(--txt-light);
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: var(--secondary-dark);
}

#btn-login, #btn-logout {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.card {
    box-shadow: 0 2px 10px 0 rgb(94 86 105 / 10%);
    background-color: #fff;
    border-radius: 5px;
}

.card-small, .message-small {
    max-width: 800px;
    margin: auto;
}

.card-header {
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
    border-bottom: thin solid var(--grey-light);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Inter", sans-serif;
    font-size: 0.85rem;
    color: var(--grey-dark);
}

thead {
    background-color: rgb(250 250 250);
    text-transform: uppercase;
    color: var(--grey-dark);
    font-size: 0.75rem;
    text-align: left;
}

tr {
    height: 50px;
    border-bottom: thin solid var(--grey-light);
}

td, th {
    padding: 0 20px;
}

tr td:last-child, tr th:last-child {
    text-align: center;
}

tbody tr {
	background-color: var(--txt-light);
}

tbody tr:last-child {
    border-bottom: none;
}

.small-icon {
    fill: inherit;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.icon-text {
    margin-left: 10px;
}


/* TEXT */
h1, h2, h3 {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
}
.txt-dark {
    color: var(--primary-dark);
}

.txt-grey {
    color: var(--grey-main);
}

/* HEADER */
header {
    border-radius: 0 !important;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    max-height: 40px;
    margin-right: 8px;
}

#title {
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-size: 3em;
    line-height: 0;
    margin-top: 8px;
}

/* NAVBAR */
nav li {
    padding: 0 20px;
}

nav li:last-child {
    padding-right: 0;
}

.nav-link {
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--primary-dark);
}

.nav-link:hover {
    color: var(--secondary-dark);
}

/* CONTENT */
#content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 25px;
}


/* CONTENT */
#content {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 25px;
}

/* LIST */
.icon-bg {
    height: 32px;
    min-width: 32px;
    width: 32px;
    border-radius: 50%;
}

.avatar {
    font-weight: 500;
    color: var(--primary-main);
    background-color: var(--primary-extralight);
}

.avatar-bg span {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.table-txt-bold {
    font-weight: 600;
}

.icon-admin {
    fill:#e04e4e;
    background-color: #ffebeb;
}

.icon-stagiaire {
    fill:#55b8d6;
    background-color: #ebf9ff;
}

.status-active {
    font-weight: 600;
    font-size: 0.8rem;
    color: #3fbe26;
    padding: 5px 8px;
    background-color: #d1fdcd;
    border-radius: 10px;
    text-transform: capitalize;
}

.status-inactive {
    font-weight: 600;
    font-size: 0.8rem;
    color: #7a7a7a;
    padding: 5px 8px;
    background-color: #efefef;
    border-radius: 10px;
    text-transform: capitalize;
}

.icon-action {
    fill: #464646;
    background-color: transparent;
}

.icon-action:hover {
    background-color: #e0e0e0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 150px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content form {
    fill: var(--grey-dark);
    color: var(--grey-dark);
    padding: 12px 17px;
    text-align: left;
    transition-duration: 0.1s;
    cursor: pointer;
}

.dropdown-content button {
    font-family: 'Inter';
    color: inherit;
    font-size:inherit;
}

.dropdown-content a:not(:last-child) {
    border-bottom: thin solid var(--grey-extralight);
}

.dropdown-content a:hover, .dropdown-content form:hover {
    background-color: var(--grey-extralight)
}

.show {display:block;}

/* STAT CARD */
.stat-panel .card {
    padding: 20px;
    margin: 40px 20px;
    flex-grow: 1;
    justify-content: space-between;
}

.stat-panel .card:first-child {
    margin-left: 0;
}

.stat-panel .card:last-child {
    margin-right: 0;
}

.stat-panel-bg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.txt-stat-panel {
    font-family: 'Inter', sans-serif;
    color: var(--grey-main);
    text-transform: capitalize;
    font-size: 0.95rem;
    margin-top: 5px;;
}

.icon-user {
    fill:#924ee0;
    background-color: #efebff;
}

.message {
    padding: 10px 15px;
    margin: 10px auto;
    border-radius: 5px;
    justify-content: space-between;
}

.success {
    background-color: #eeffec;
    color: #44c966;
    fill: #44c966;
    border: thin solid #44c966;
}

.icon-close {
    margin-top: 2px;
    fill: inherit;
    cursor: pointer;
}

/*********/
form {
    padding: 0 20px;
}

.form-row {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.form-label {
    font-family: 'Inter', sans-serif;
    color: var(--grey-dark);
    font-size: 0.95rem;
    margin-bottom: 5px;
}

.form-input {
    color: var(--grey-dark);
    padding: 10px 20px;
    border: thin solid var(--grey-light);
    border-radius: 5px;
    transition-duration: 0;
    outline-color: var(--primary-main);
    caret-color: var(--primary-light);
}

.form-input::placeholder {
    color: var(--grey-main);
}

.form-row input[type='submit'] {
    margin-top: 10px;
}

.form-text {
    font-family: 'Inter', sans-serif;
    color: var(--grey-main);
    font-size: 0.75rem;
}

/*******/
#login-wrapper {
    height: 100%;
}

#login-logo {
    justify-content: unset;
    left: 2rem;
    margin: 0;
    position: absolute;
    top: 2rem;
    z-index: 1;
}

#login-left {
    padding: 4rem;
}

.hero-wrapper {
    padding: 0 4rem;
    height: 100%;
}

.hero-img {
    height: 100%;
}


#login-right {
    background-color: var(--txt-light);
    padding: 0 20px;
}

#login-right form {
    width: 100%;
}

.table-empty {
    padding: 50px;
    font: 'Inter', sans-serif;
    color: var(--grey-main);
    font-size: 0.95rem;
}

.icon-done {
    margin-top: 7px;
    width: 25px;
    height: 25px;
    fill: #26ab0c;
}

.btn-quiz {
    border: thin solid var(--primary-main);
    background-color: var(--txt-light);
    color: var(--primary-main);
    padding: 7px 10px;
}

.txt-role {
    text-transform: capitalize;
}

html, body {
    height: 100%;
}