@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Noto+Sans&display=swap');

html, body, ul {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 15px;
}

#nav__title a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    color: #201568;
    font-size: 1.424rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
    line-height: 1;
}

nav ul {
    display: flex;
    align-items: center;
    pa
}

nav li a {
    padding: 10px 15px;
    font-size: 0.79rem;
    line-height: 0.25;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.nav__signin, .nav__signout {
    background-color: #201568;
    color: #ffffff;
    font-size: 0.75rem;
    letter-spacing: 0.015rem;
    border-radius: 8px;
    margin-left: 15px;
}

.nav__signout {
    padding: 10px 15px;
    border: 1px solid #201568;
}

.nav__icon {
    font-weight: 900;
    font-size: 1.4rem;
    display: none;
}

@media screen and (max-width: 600px) {
    nav ul li {
        display: none;
    }

    nav ul li.nav__icon {
        display: block;
    }

    nav.responsive {
        position: relative;
    }

    nav.responsive ul li.nav__icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    nav.responsive ul li {
        float: none;
        display: block;
        text-align: left;
    }
}