<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="main-layout :: main-fragment(~{::title}, ~{::#home-css}, ~{::#home-content}, null)">
<head>
	<title th:text="#{home.pageLabel}"></title>
	<meta charset="UTF-8">
	<th:block id="home-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/home.css" th:href="@{/css/home.css}"/>
	</th:block>
</head>
<body>
	<section id="home-content" class="hero align-center">
		<div class="row">
			<div class="col">
				<h1 th:text="#{home.hero.title}"></h1>
				<h2 th:text="#{home.hero.subtitle}"></h2>
				<div>
					<div class="">
						<a th:href="@{/quiz}" class="btn-get-started align-center">
							<span th:text="#{home.hero.button.quizzes}"></span>
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="hero-img">
				<img th:src="@{/img/hero-img.png}" src="../../static/img/hero-img.png" class="img-fluid" alt="">
			</div>
		</div>
	</section>
</body>
</html>