<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title th:text="#{login.pageLabel}"></title>
        <link rel="icon" type="image/png" th:href="@{/img/icon.png}" href="../../static/img/icon.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/login.css" th:href="@{/css/login.css}"/>
    </head>
    <body>
        <div class="login-wrapper">
            <form class="login form" th:action="@{/login}" method="post">
                <a th:href="@{/}"><span class="login__icon" th:text="#{login.icon}"></span></a>
                <h2 class="login__title" th:text="#{login.title}"></h2>
                <span class="login__error" th:if="${param.error}" th:text="#{login.error}"></span>
                <span class="login__info" th:if="${param.logout}" th:text="#{login.logout}"></span>
                <div class="login__row">
                    <label class="login__label" for="login-username" th:text="#{login.form.username}"></label>
                    <input id="login-username" class="login__input" type="text" name="username" th:placeholder="#{login.form.username}" autofocus/>
                </div>
                <div class="login__row">
                    <label class="login__label" for="login-password" th:text="#{login.form.password}"></label>
                    <input id="login-password" class="login__input" type="password" name="password" th:placeholder="#{login.form.password}"/>
                </div>
                <div class="login__row">
                    <input class="login__button" type="submit" th:value="#{login.form.signin}"/>
                </div>
            </form>
        </div>
    </body>
</html>