<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="main-layout :: main-fragment(~{::title}, ~{::#quiz-form-css}, ~{::#quiz-form-content}, ~{::#new-quiz-js})">
<head>
	<title th:text="#{quiz.form.pageLabel}"></title>
	<th:block id="quiz-form-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/user-form.css" th:href="@{/css/user-form.css}"/>
	</th:block>
</head>
<body>
	<div id="quiz-form-content">
		<section id="quiz-form" class="quiz-form">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h3 th:text="#{quiz.form.create.caption}"></h3>
						<form method="post" th:action="@{/quiz/create}" th:object="${quiz}">
							<input type="hidden" th:field="*{id}">
							<div class="form-group">
								<label for="quiz-title" th:text="#{quiz.form.title}"></label>
								<input id="quiz-title" class="form-control" type="text" th:field="*{title}" required>
							</div>
							<small id="titleHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>
							<div class="form-group">
								<label for="quiz-description" th:text="#{quiz.form.description}"></label>
								<input id="quiz-description" class="form-control" type="text" th:field="*{description}" required>
							</div>
							<button type="submit" th:text="#{common.create}"></button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>