<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="main-layout :: main-fragment(~{::title}, ~{::#question-list-css}, ~{::#question-content}, null)">
<head>
	<title th:text="#{question.list.pageLabel}"></title>
	<th:block id="question-list-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/user-list.css" th:href="@{/css/user-list.css}"/>
	</th:block>
</head>
<body>
	<div id="question-content">
		<section id="question-list" class="question">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-sm-6">
								<h3 th:text="#{question.list.caption}"></h3>
							</div>
							<div th:if="${message != null}">
								<span th:text="${message}"></span>
							</div>
							<div class="col-sm-6">
								<a th:href="@{/question/create(quizId=${quizId})}" class="question-list-btn">
									<i class="bi bi-plus"></i>
									<span th:text="#{common.create}"></span>
								</a>
							</div>
						</div>
						<th:block th:each="question : ${listOfQuestions}">
							<h4><a th:href="@{/question/update(id=${question.id}, quizId=${quizId})}" th:text="${question.title}"></a></h4>
							<ul>
								<li th:each="item : ${question.items}">
									<p th:text="${item.title}"><input type="checkbox" checked="${item.response}" disabled>
								</li>
							</ul>
						</th:block>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>