<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  th:replace="main-layout :: main-fragment(~{::title}, ~{::#quiz-list-css}, ~{::#quiz-content}, null)">
<head>
	<title th:text="#{quiz.list.pageLabel}"></title>
	<th:block id="quiz-list-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/user-list.css" th:href="@{/css/user-list.css}"/>
	</th:block>
</head>
<body>
	<div id="quiz-content">
		<div>
			<div>
				<div class="message success row" th:if="${message != null}">
					<span th:text="${message}"></span>
				</div>
			</div>
			<div class="card">
				<div class="row align-center card-header">
					<h3 th:text="#{quiz.list.caption}"></h3>
					<a href="/quiz/create" class="btn-primary align-center">
						<svg class="small-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                            <path d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
                        </svg>
						<span th:text="#{common.create}"></span>
					</a>
				</div>
			</div>
			<table class="table table-striped user-table">
				<thead>
					<tr>
						<th scope="col" th:text="#{quiz.list.title}"></th>
						<th scope="col" th:text="#{quiz.list.description}"></th>
						<th scope="col" th:text="#{quiz.list.numberOfQuestions}"></th>
						<th scope="col" th:text="#{quiz.list.actions}"></th>
						<th></th>
						<th sec:authorize="hasAuthority('STAGIAIRE')"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="quiz, index : ${listOfQuizzes}">
						<td th:text="${quiz.title}"></td>
						<td th:text="${quiz.description}"></td>
						<td th:text="${quiz.questions.size()}"></td>
						<td>
							<button class="icon-bg icon-action dropdown" th:attr="onclick=|dropdown(${index.index})|" >
                               <svg class="small-icon dropdown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true">
                                   <path
                                       d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z">
                                   </path>
                               </svg>
                            </button>
                            <div th:id="${'dropdown-' + index.index}" class="dropdown-content">
                                <a href="#" class="align-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="small-icon">
                                        <path
                                            d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z">
                                        </path>
                                    </svg>
                                    <span class="icon-text" th:text="#{user.list.modify}"></span>
                                </a>
                                <a href="#" class="align-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-hidden="true" class="small-icon">
                                        <path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z">
                                        </path>
                                    </svg>
                                    <span class="icon-text" th:text="#{user.list.modify}"></span>
                                </a>
                            </div>
						</td>
						<!--
						<td class="user-icons">
							<a th:href="@{/quiz/update(id=${quiz.id})}" class="table-link">
								<i class="bi bi-pencil-square"></i>
							</a>
							<form method="post" th:action="@{/quiz/delete(id=${quiz.id})}" th:object="${quiz}">
								<button type="submit" onClick="return confirm('Etes-vous sûr de vouloir supprimer ce questionnaire ?')">
									<i class="bi bi-trash"></i>
								</button>
							</form>
						</td>
						-->
						<td sec:authorize="hasAuthority('STAGIAIRE')"><a th:href="@{/quiz/do(quizId=${quiz.id})}" th:text="#{quiz.list.start}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>