<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="main-layout :: main-fragment(~{::title}, ~{::#quiz-form-css}, ~{::#quiz-form-content}, ~{::#new-quiz-js})">
<head>
	<title th:text="#{quiz.form.pageLabel}"></title>
	<th:block id="quiz-form-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/user-form.css" th:href="@{/css/user-form.css}"/>
	</th:block>
</head>
<body>
	<div id="quiz-form-content">
		<div class="card card-small">
			<div class="row align-center card-header">
				<h3 th:text="#{quiz.form.update.caption}"></h3>
				<a th:href="@{/quiz}" class="btn-primary" th:text="#{common.back}"></a>
			</div>
			<form method="post" th:action="@{/quiz/update}" th:object="${quiz}">
				<input type="hidden" th:field="*{id}">
				<div class="form-row">
					<label for="quiz-title" class="form-label" th:text="#{quiz.form.title} + ' :' "></label>
					<input id="quiz-title" class="form-input" type="text" th:field="*{title}" required>
				</div>
				<div class="form-row">
					<label for="quiz-description" class="form-label" th:text="#{quiz.form.description} + ' :' "></label>
					<input id="quiz-description" class="form-input" type="text" th:field="*{description}" required>
				</div>
				<div class="form-row align-center">
					<a th:href="@{/question(quizId=${quiz.id})}" class="btn-primary" th:text="#{quiz.form.questions.add}"></a>
				</div>
				<div class="form-row">
					<button type="submit" class="btn-primary" th:text="#{common.save}"></button>
				</div>
			</form>
		</div>
		<script type="text/javascript" src="../../static/add-quiz.js" th:src="@{/add-quiz.js}"></script>
	</div>
</body>
</html>