<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  th:replace="main-layout :: main-fragment(~{::title}, ~{::#password-form-css}, ~{::#password-form-content}, null)">
<head>
	<title th:text="#{password.form.pageLabel}"></title>
	<th:block id="password-form-css">
		<link rel="stylesheet" type="text/css" href="../../static/css/user-form.css" th:href="@{/css/user-form.css}"/>
	</th:block>
</head>
<body>
	<div id="password-form-content">
		<section id="password-form" class="password-form">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a th:href="@{/user/update(id=${id})}" th:text="#{common.back}"></a>
						<h3 th:text="#{password.form.caption}"></h3>
						<form method="post" th:action="@{/user/password/update(id=${id})}" th:object="${password}">
							<input type="hidden" th:field="*{id}">
							<small id="oldPasswordHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></small>
							<div class="form-group">
								<label for="password-old" th:text="#{password.form.old.label}"></label>
								<input id="password-old" class="form-control" type="password" th:field="*{oldPassword}" required>
							</div>
							<small id="newPasswordHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></small>
							<div class="form-group">
								<label for="password-username" th:text="#{password.form.new.label}"></label>
								<input id="password-username" class="form-control" type="password" th:field="*{newPassword}" required>
							</div>
							<small id="newPasswordConfirmationHelpBlock" class="form-text text-muted" th:if="${#fields.hasErrors('newPasswordConfirmation')}" th:errors="*{newPasswordConfirmation}"></small>
							<div class="form-group">
								<label for="password-new-confirmation" th:text="#{password.form.new.confirmation.label}"></label>
								<input id="password-new-confirmation" class="form-control" type="password" th:field="*{newPasswordConfirmation}" required>
							</div>
							<button type="submit" th:text="#{common.modify}"></button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>
</html>